absl-py
asttokens
backcall
cachetools
certifi
charset-normalizer
cycler
decorator
executing
fonttools
google-auth
google-auth-oauthlib
grpcio
idna
ipython
jedi
kiwisolver
Markdown
matplotlib
matplotlib-inline
numpy
oauthlib
opencv-python
packaging
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
scipy
seaborn
six
stack-data
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
thop
torch
torchvision
tqdm
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug